html {
	height: 100vh;
}

#newsWrapper {
	display: flex;
	flex-direction: column;
	height: auto;
	width: 100vw;
}

/*ACCORDION*/

#accordion {
	width: 70%;
	margin: 10px auto;
}

#accordion p {
	max-height: 100px;
	font-size: .9rem;
	margin: -10px -20px;
}

#accordion h3 {
	color: aliceblue;
	font-size: 1rem;
	padding-left: 1.4rem;
	margin-top: 1rem;
	background: #e6e6e6 url("#") 50% 50%; /*images/ui-bg_glass_75_e6e6e6_1x400.png*/
	background-color: rgba(67, 37, 37, .7);
}

#accordion h3:hover {
	text-shadow: 2px 2px 5px black;
}

#accordion a {
	color: aquamarine;
}

#accordion div {
	color: white;
	background-color: rgba(67, 37, 37);
}


/*CAROUSEL*/

content {
	width: auto;
	margin: 70px 0;
}

.d-block {
	height: auto;
	border-radius: 0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	filter: grayscale(100%);
}

.d-block:hover {
	filter:grayscale(20%);
}

.grayScaler {
	filter:grayscale(20%);
}

.carousel-caption {
	text-shadow: 2px 2px 2px black;
}


