* {
	box-sizing: border-box;
}

body {
background-image: url(stadium.jpg);
	background-size: cover;
	background-position: 30%;
	height: 100vh;
	width: 100vw;
}

/*HEADER*/

#newsWrapper {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 70px);
	width: 100vw;
	
}

#newsWrapper > header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

img {
	height: 50px;
	border: 2px solid gray;
	border-radius: 60px 60px 200px 200px;
	outline: none;
}

header, footer {
	background-color: rgba(67, 37, 37, .7);
	height: 70px;
	width: 100%;
	color: aquamarine;
}

#loginH3, #headerH3{
	font-size: 1.2rem;
}

.fas {
	font-size: 1.5rem;
}

#loginH3:hover, .fas:hover {
	text-shadow: 2px 2px 2px black;
}

/*FOOTER*/

#footer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	font-size: .8rem;
	letter-spacing: .1rem;
}

#footer p {
	margin-bottom: 2px;
}